:root {
  gap: 2rem;
}

.card-conta {
  display: flex;
  flex-direction: column;
  padding: .5rem 0;
}

.card-conta.mat-expansion-panel {
  border-radius: 0px;
}

.card-conta.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: none;
}

.card-conta.mat-expansion-panel-spacing  {
  margin: 0;
}

.card-conta .mat-expansion-panel-header-title {
  font-size: medium;
  gap: 1rem;
}
