<div class="flex flex-col h-full">
  <!-- Menu -->
  <mat-toolbar>
    <button class="m-3" mat-icon-button (click)="drawer.toggle()">
      <mat-icon fontIcon="menu" />
    </button>
    <div class="flex-grow items-center">
      <span>LagControl</span>
    </div>
  </mat-toolbar>

  <!-- Main -->

  <mat-sidenav-container class="h-full flex-grow">
    <mat-sidenav #drawer mode="side" class="max-w-min">
      <app-menu></app-menu>
    </mat-sidenav>

    <mat-sidenav-content class="p-5">
      <router-outlet />
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
