  <div class="flex flex-col w-full h-full">

    <!-- Menu -->
    <mat-toolbar>
      <button class="text-xl" mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Home</span>
    </mat-toolbar>

    <!-- Main -->
    <div class="flex flex-row h-full">
      <mat-drawer-container>
        <mat-drawer #drawer mode="side">
          <div class="p-10 h-full justify-items-center">
            <button mat-button class="text-center text-lg" routerLink="/Movimentacao">
              <mat-icon fontIcon="payment"/>
              <a>Finanças</a>
            </button>
          </div>
        </mat-drawer>
        <mat-drawer-content>
          <div class="pt-10 h-full justify-items-center">
            <button mat-button class="text-center text-lg" (click)="drawer.toggle()">
              <mat-icon fontIcon="payment"/>
            </button>
          </div>
        </mat-drawer-content>
  
      </mat-drawer-container>  

      <div class="h-full w-full">
        <router-outlet />
      </div>
    </div>

    <div class="w-full h-2/10">
      <a class="text-lg text-center">LagControl</a>
    </div>

  </div>  