<h1 class="text-3xl">Extrato</h1>

<mat-card>
  <mat-card-content>
    <mat-list *ngIf="extrato?.ExtratosDia?.length">
      
      <mat-list-item *ngFor="let extratoDia of extrato.ExtratosDia; trackExtratoDia" class="!h-auto mt-4 mb-4">
        <div matListItemTitle class="text-center">{{ extratoDia.Dia }}</div>
        
        <div matListItemLine class="flex flex-col"> 
          <p class="text-center">Saldo Inicial: {{extratoDia.ValorInicialDia}}</p>
          <p *ngFor="let movimentacao of extratoDia.Movimentacoes" class="text-end">
            {{ movimentacao.Descricao }}
          </p>
          <p class="text-center">Saldo Final: {{extratoDia.ValorFinalDia}}</p>
        </div>
      
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
