.action-fields-container {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  gap: .25rem;
}

.button {
  width: 2.5rem;
  height: 2.5rem;
}

.button-delete {
  @apply bg-red-500
} 

.button-add {
  @apply bg-green-500
}

