:root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mat-card-principal {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  overflow: auto;
}

.mat-table-grid {
  width: 100%;
}

.mat-table-grid p {
  text-align: center;
}

.action-fields-container {
  display: flex;
  flex-direction: row-reverse;
  flex-grow: 1;
  gap: .25rem;
  
}

.action-fields-container button {
  width: 3rem;
  height: 3rem;
}

span.tag-pendente {
  padding: .25rem;
  border-radius: 1rem;

  max-width: min-content;
  display: flex;

  @apply shadow-lg text-white bg-yellow-500 hover:text-yellow-500 hover:bg-white;
}

span.tag-pendente mat-icon {
  padding: .05rem;
  font-size: 1.2rem;
  text-align: center;
}