<mat-card appearance="outlined" class="mat-card-principal">
  <div class="action-fields-container">
    <button mat-fab class="!bg-green-500" (click)="clickAdicionar()">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <table mat-table matSort [dataSource]="movimentacoesDataSource" class="mat-table-grid">
    
    <ng-container matColumnDef="Descricao">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Descrição</th>
      <td mat-cell class="!text-start" *matCellDef="let mov">
        <div class="column-descricao">
          @if (mov.Pendente) {
          <mat-icon class="tag-pendente" fontIcon="warning" />
          }
          <span>{{mov.Descricao}}</span>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="Observacao">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Observação</th>
      <td mat-cell class="!text-start" *matCellDef="let mov">{{mov.Observacao}}</td>
    </ng-container>

    <ng-container matColumnDef="Valor">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Valor</th>
      <td mat-cell *matCellDef="let mov">{{mov.Valor.toFixed(2)}}</td>
    </ng-container>

    <ng-container matColumnDef="Data">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Data</th>
      <td mat-cell *matCellDef="let mov">{{formatarData(mov.Data)}}</td>
    </ng-container>

    <ng-container matColumnDef="TipoMovimentacao">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Tipo</th>
      <td mat-cell class="justify-center" *matCellDef="let mov">
          <tipo-movimentacao-column-template [tipoMovimentacao]="mov.Tipo"/>
      </td>
    </ng-container>

    <ng-container matColumnDef="Conta">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Conta</th>
      <td mat-cell *matCellDef="let mov">{{mov.Conta}}</td>
    </ng-container>

    <ng-container matColumnDef="Categoria">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Categoria</th>
      <td mat-cell *matCellDef="let mov">
        {{mov.Categoria}}
      </td>
    </ng-container>

    <ng-container matColumnDef="Actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell class="action-fields-column-container" *matCellDef="let mov">
        <button mat-fab (click)="clickExcluir(mov)" class="!bg-red-500">
          <mat-icon fontIcon="delete" />
        </button>

        <button mat-fab class="!bg-blue-500">
          <mat-icon fontIcon="edit" />
        </button>
        
        @if (mov.Pendente) {
        <button mat-fab (click)="clickConfirmarPendente(mov)" class="!bg-yellow-500">
          <mat-icon fontIcon="edit_calendar" />
        </button>
        }
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="colunas"></tr>
    <tr mat-row *matRowDef="let row; columns: colunas"></tr>
  </table>

  <mat-paginator
    class="mt-2"
    [pageSizeOptions]="[10, 25, 50]"
    showFirstLastButtons
  />
</mat-card>
