:root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mat-card-principal {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  overflow: auto;
}

.mat-table-grid {
  width: 100%;
}

.mat-table-grid p {
  text-align: center;
}

.action-fields-container {
  display: flex;
  flex-direction: row-reverse;
  flex-grow: 1;
  gap: .25rem;
}

.action-fields-container button {
  width: 3rem;
  height: 3rem;
}

.action-fields-column-container {
  display: flex;
  flex-direction: row-reverse;
  flex-grow: 1;
  gap: .5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.action-fields-column-container button {
  width: 2rem;
  height: 2rem;
}

.tag-pendente {
  @apply text-yellow-500 hover:text-white 
}

span.tag-pendente mat-icon {
  padding: .05rem;
  font-size: 1.2rem;
  text-align: center;
}