.menu {

}

::ng-deep .menu .mat-expansion-panel-body {
  padding: 0rem;
  display: flex;
  flex-direction: column;
}

::ng-deep .menu .mat-mdc-button {
  --mdc-text-button-container-shape: 0px !important
}
