<mat-accordion class="menu" multi>
  
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header class="p-2">
      <mat-panel-title class="gap-2"> 
        <mat-icon fontIcon="payment" />
        Finanças 
      </mat-panel-title>
    </mat-expansion-panel-header>

    <button mat-button routerLink="/Movimentacao">
      <a>Movimentação</a>
    </button>

    <button mat-button routerLink="/Conta">
      <a>Contas</a>
    </button>

    <mat-expansion-panel hideToggle>
      
      <mat-expansion-panel-header class="p-2">
        <mat-panel-title class="gap-2"> 
          <mat-icon fontIcon="description" />
          Relatório
        </mat-panel-title>
      </mat-expansion-panel-header>

      
      <button mat-button routerLink="/Relatorio/Extrato">
        <a>Extrato</a>
      </button>
    </mat-expansion-panel>

  </mat-expansion-panel>
</mat-accordion>