<form #form="ngForm">
  <div class="box-form-fields">
    <mat-form-field>
      <mat-label>Descrição</mat-label>
      <input matInput required name="descricao" [(ngModel)]="movimentacao.Descricao" #descricao="ngModel" />
      <mat-error *ngIf="descricao.invalid">Campo Obrigatório</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Observacao</mat-label>
      <input matInput [(ngModel)]="movimentacao.Observacao" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Data</mat-label>
      <input matInput required name="data" [matDatepicker]="picker" [(ngModel)]="movimentacao.Data" #data="ngModel" />
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="data.invalid">Campo Obrigatório</mat-error>
    </mat-form-field>

    <div class="mt-1 flex flex-col items-center">
      <mat-label>Pendente </mat-label>
      <mat-slide-toggle [(ngModel)]="movimentacao.Pendente" [disabled]="pendenteDisable"></mat-slide-toggle>
    </div>
  </div>

  <div class="box-form-fields">
    <mat-form-field>
      <mat-label>Valor</mat-label>
      <input matInput required name="valor" type="number" [(ngModel)]="movimentacao.Valor" #valor="ngModel" />
      <mat-error *ngIf="data.invalid">Campo Obrigatório</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Tipo</mat-label>
      <mat-select [(ngModel)]="movimentacao.Tipo" [disabled]="tipoDisable">
        @for (tipo of tipoMovimentacaoOptions; track tipo) {
        <mat-option [value]="tipo.value">{{ tipo.label }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Conta</mat-label>
      <mat-select required name="conta" [(ngModel)]="movimentacao.ContaId" #contaId="ngModel">
        <mat-option *ngFor="let conta of contas" [value]="conta.Id">{{ conta.Descricao }}</mat-option>
      </mat-select>
      <mat-error *ngIf="contaId.invalid">Campo Obrigatório</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Categoria</mat-label>
      <mat-select required name="categoria" [(ngModel)]="movimentacao.CategoriaId" #categoriaId="ngModel">
        <mat-option *ngFor="let categoria of categorias" [value]="categoria.Id">{{ categoria.Descricao }}</mat-option>
      </mat-select>
      <mat-error *ngIf="categoriaId.invalid">Campo Obrigatório</mat-error>
    </mat-form-field>
  </div>
</form>
